# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BIGGIESPLAYS_LEFT

config ZMK_KEYBOARD_NAME
    default "BiggieSplays"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BIGGIESPLAYS_LEFT || SHIELD_BIGGIESPLAYS_RIGHT

config ZMK_SPLIT
    default y

endif